@use "../abstracts/variables" as vars;

footer#main-footer {

	#main-footer-top {
		background-color: vars.$color-primary-muted;
		padding: vars.$spacing-lg 0;

		#logo-and-contact {
			display: flex;
			align-items: flex-start;
			gap: vars.$spacing-md;
			justify-content: space-between;
			flex-direction: column;

			ul.contact-details {
				margin: 0;
				padding: 0;

				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: vars.$spacing-sm;


				li.contact-detail {
					list-style: none;
					display: flex;
					gap: vars.$spacing-xs;
					margin-bottom: 0;

					i {
						font-size: 30px;
					}

					.cd-text {
						display: flex;
						flex-direction: column;
						a {
							font-size: 15px;
							color: vars.$black;
						}

						span {
							font-size: 14px;

							&.no-link {
								font-size: 15px;
								color: vars.$black;
							}
						}

						a, span {
							font-weight: 600;
						}

					}

					i, .cd-text span {
						color: vars.$color-primary;
					}

					.cd-text  a, .cd-text span  {}
					font-weight: 600;
				}
			}

			@media (max-width: vars.$screen-sm) {}

			@media (min-width: vars.$screen-sm) {
				flex-direction: row;
			}

			@media (min-width: vars.$screen-md) {}

			@media (min-width: vars.$screen-lg) {
				align-items: center;

				ul.contact-details {
					gap: vars.$spacing-md;
					flex-direction: row;
					align-items: center;


					li.contact-detail {
						i {
							font-size: 32px;
						}

						.cd-text {

							a {
								font-size: 15px;
							}

							span {
								font-size: 14px;
							}
						}
					}
				}
			}

			@media (min-width: vars.$screen-xl) {
				ul.contact-details {
					gap: vars.$spacing-lg;

					li.contact-detail {
						i {
							font-size: 38px;
						}

						.cd-text {
							a {
								font-size: 16px;

							}
						}
					}
				}
			}
		}

		// Would be better to collate media queries down here that are relevant for desktop, and mobile styling for #main-footer-top

	}

	#main-footer-bottom {
		background-color: vars.$color-primary;
		padding: vars.$spacing-md 0;

		span, strong {
			display: inline-block;
			color: vars.$black;
		}
	}

	hr {
		border-top: 3px solid vars.$color-primary;
		border-radius: vars.$rounding-xs;
	}
}
