@use "../abstracts/variables" as vars;

.grid-container {
	display: grid;
	grid-template-columns: minmax(vars.$container-gutter, 1fr) minmax(0, vars.$container-size-sm) minmax(vars.$container-gutter, 1fr);
	grid-template-rows: 0.25fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
    "left-gutter center right-gutter";

	.center { grid-area: center; }

	.left-gutter { grid-area: left-gutter; }

	.right-gutter { grid-area: right-gutter; }

	@media (min-width:vars.$screen-md) {
		grid-template-columns: minmax(vars.$container-gutter, 1fr) minmax(0, vars.$container-size-md) minmax(vars.$container-gutter, 1fr);;
	}

	@media (min-width:vars.$screen-lg) {
		grid-template-columns: minmax(vars.$container-gutter, 1fr) minmax(0, vars.$container-size-lg) minmax(vars.$container-gutter, 1fr);;
	}

	@media (min-width:vars.$screen-xl) {
		grid-template-columns: minmax(vars.$container-gutter, 1fr) minmax(0, vars.$container-size-xl) minmax(vars.$container-gutter, 1fr);;
	}

	@media (min-width:vars.$screen-xxl) {
		grid-template-columns: minmax(vars.$container-gutter, 1fr) minmax(0, vars.$container-size-xxl) minmax(vars.$container-gutter, 1fr);;
	}
}
