@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

ul.nav-menu {

	@include mixins.remove-list-styling(true);

	li.nav-menu-item {

		margin: 0 0 vars.$spacing-xs 0;
		padding: 0;

		a.nav-menu-item-link {

			font-size: 16px;
			line-height: 16px;
			display: block;
			margin: 0;
			padding: 0 0 vars.$spacing-xs 0;
			font-weight: 600;
			color: vars.$black;

		}

		&.is-active {

			a.nav-menu-item-link {
				color: vars.$color-primary;
			}
		}

	}

}
